* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #faf9f9;
  color: #0f172a;
}
h1 {
  font-size: 3rem;
  color: #38bdf8;
}

button {
  background: #38bdf8;
  border: none;
  padding: 12px 32px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #0ea5e9;
}
